{template "content","headbody"}
{template "content","header_content"}
<!-- 通栏幻灯大banner -->
<div id="slideBox" class="slideBox_yh">
    <div class="bd">
        <ul>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=28"></script></div></li>
            <!--
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            -->
        </ul>
    </div>
    <!--
    <div id="hd" class="hd">
        <ul><li class="on">1</li><li>2</li><li>3</li></ul>
    </div>
    -->
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <!--
    <a class="slideBox_prev" href="javascript:void(0)"></a>
    <a class="slideBox_next" href="javascript:void(0)"></a>
    -->
</div>
<!--
<script>
    hm.app.toRun5();
</script>
-->

<div id="ztalcont_one" class="ztalcont_one">
    <div class="cont_head">
        <p class="cont_headp1">RESURGENT</p>
        <p class="cont_headp2">雍禾植发<span>案例</span></p>
        <p class="cont_headp3"></p>
        <div class="cont_headdiv">
            <img src="/statics/images/zhifa_cn_images/abcef_07.jpg" width="44" />
            <p class="cont_headp4">脱发，不仅带了的形象的变化，不少发友每天都要接受讥讽、嘲笑、歧视……这里是发友的心声，感受他们不同的植发曲折经历和神奇的植发效果。这里我们剪辑了一些雍禾植发发友的感言片段，你可以从中感触他们的心路历程，脱发的烦恼，选择植发机构的谨慎，植发后的期待与喜悦……我们也期待你不再为脱发而苦恼。</p>
        </div>
    </div>
    <div id="ztalcont_left" class="ztalcont_left">
        <ul>
            <li>2级植发案例</li>
            <li>3级植发案例</li>
            <li>4级植发案例</li>
            <li>5级植发案例</li>
            <li>6-7级植发案例</li>
            <li>头发加密案例</li>
            <li>眉毛种植案例</li>
            <li>睫毛种植案例</li>
            <li>鬓角种植案例</li>
            <li>胡须种植案例</li>
            <li>女性植发案例</li>
            <li>疤痕植发案例</li>
            <li>美人尖种植案例</li>
        </ul>
        <img src="/statics/images/zhifa_cn_images/abcef_14.jpg" width="210" />
    </div>
    <div class="ztalcont_right" style="display:block;">
        {pc:content action="lists" catid="77" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">

            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="78" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="79" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="80" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="81" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="82" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="83" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="84" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="85" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="86" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="87" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="88" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <div class="ztalcont_right">
        {pc:content action="lists" catid="89" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="ztalrightimg">
            <div><a title="{$r[title]}" href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="400" height="280" /></a></div>
        </div>
        <div class="rightpmiddlep">
            <p class="ztalcont_right_p1"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者感言：{str_cut($r[huanzheganyan],350,'')}</a></p>
            <p class="ztalcont_right_p2"><a href="#">立即改变形象</a></p>
            <p class="ztalcont_right_p3"><a title="{$r[title]}" href="{$r[url]}" target="_blank">患者故事：{str_cut($r[huanzhegushi],350,'')}</a></p>
        </div>
        <div class="rightuldl">
            <!--<img src="/statics/images/zhifa_cn_images/adfdsf_03.png" width="34" class="uldlprevimg" />-->
            <!--<img src="/statics/images/zhifa_cn_images/abcdefg_06.png" width="34" class="uldlnext" />-->
            <!--<ul>-->
            <!--<li><img src="{$r[qianimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[qianimg2]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg1]}" width="140" height="130" /></li>-->
            <!--<li><img src="{$r[houimg2]}" width="140" height="130" /></li>-->
            <!--</ul>-->
            <div class="rightuldlimg">
                <img src="{$r[qhimg]}" alt="{$r[title]}" width="310" height="300" />
            </div>
            <dl>
                <dt>{str_cut($r[title],50,'')}</dt>
                <dd>姓名：<b>{str_cut($r[xinming],50,'')}</b></dd>
                <dd>实用技术：<b>{str_cut($r[shiyongjishu],20,'')}</b></dd>
                <dd>年龄：<b>{str_cut($r[nianling],20,'')}</b></dd>
                <dd>种植单位：<b>{str_cut($r[zhongzhidanwei],20,'')}</b></dd>
                <dd>职业：<b>{str_cut($r[zhiye],20,'')}</b></dd>
                <dd>植发时间：<b>{str_cut($r[zhifashijian],20,'')}</b></dd>
                <dd>脱发级别：<b>{str_cut($r[tuofajibie],20,'')}</b></dd>
                <dd>植发专家：<b>{str_cut($r[zhifazhuanjia],20,'')}</b></dd>
            </dl>
            <div class="ztalrightfenx">
                <p>{template "content","shareCode"}</p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

</div>

<div id="ztalcont_two" class="ztalcont_two">
    <div class="cont_head">
        <p class="cont_headp1">RESURGENT</p>
        <p class="cont_headp2">雍禾发友<span>心声</span></p>
        <p class="cont_headp3"></p>
        <div class="cont_headdiv">
            <img src="/statics/images/zhifa_cn_images/abcef_18.jpg" width="44" />
            <p class="cont_headp4">也许你在植发前，会有各种担忧：害怕疼痛，担心效果不好，头发长出来了会不会再掉，我非得用植发的方式才能治好脱发吗……这些是发友们在雍禾植发的真实感受记录，从中我们可以身临其境感受植发的细节，各种疑虑和不安可以得到有效解答，植发过程其实很轻松。</p>
        </div>
    </div>
    <div id="ztalcont_twoleft" class="ztalcont_twoleft">
        {pc:content action="lists" catid="91" order="listorder DESC" num="8" cache="3600" moreinfo="1"}
        {php $sdfa=0;}
        {loop $data $r}
        <div class="ztalleftuldiv" {if $sdfa==0} style="display: block;" {/if}>
        <h2><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[title],50,'')}</a></h2>
        <p><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[description],350,'')}</a></p>
    </div>
    {php $sdfa+=1;}
    {/loop}
    {/pc}
    <div id="ztalleftul" class="ztalleftul">
        <img src="/statics/images/zhifa_cn_images/abcef_22.jpg" width="17" alt="上一个" class="ztalleftulprive" />
        <img src="/statics/images/zhifa_cn_images/abcef_25.jpg" width="17" alt="下一个" class="ztalleftulnext" />
        <div class="ztalleftuldiv2">
            <ul>
                {pc:content action="lists" catid="91" order="listorder DESC" num="8" cache="3600" moreinfo="1"}
                {loop $data $r}
                <li><a title="{$r[title]}" href="{$r[url]}" target="_blank"><span></span><img src="{$r[thumb]}" alt="{$r[title]}"/></a></li>
                {/loop}
                {/pc}
            </ul>
        </div>
    </div>
</div>
<div id="ztalcont_tworight" class="ztalcont_tworight">
    {pc:content action="lists" catid="92" order="listorder DESC" num="8" cache="3600" moreinfo="1"}
    {php $ndsf=0;}
    {loop $data $r}
    <div class="ztalrightuldiv" {if $ndsf==0} style="display:block;" {/if}>
    <h2><a title="{$r[title]}" href="{$r[url]}" target="_blank"><div class="h2adiv1"></div>{str_cut($r[title],50,'')}<div class="h2adiv2"></div></a></h2>
    <p><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[description],350,'')}</a></p>
</div>
{php $ndsf+=1;}
{/loop}
{/pc}
<ul id="ztalrightul" class="ztalrightul">
    {pc:content action="lists" catid="92" order="listorder DESC" num="8" cache="3600" moreinfo="1"}
    {php $ndsf=0;}
    {loop $data $r}
    <li {if $ndsf==0} class="activeztalli" {/if}><a title="{$r[title]}" href="{$r[url]}" target="_blank">{$r[title]}</a></li>
    {php $ndsf+=1;}
    {/loop}
    {/pc}
</ul>
</div>
</div>

<div id="ztalcont_three" class="ztalcont_three">
    <div class="cont_head">
        <p class="cont_headp1">RESURGENT</p>
        <p class="cont_headp2">雍禾专家<span>忠告</span></p>
        <p class="cont_headp3"></p>
        <div class="cont_headdiv">
            <img src="/statics/images/zhifa_cn_images/abcef_37.jpg" width="44" />
            <p class="cont_headp4">很多发友对植发的认识有各种各样的误解和错误观念，如何让发友们了解植发的效果和植发需要了解的科普知识，是我们作为植发医生应尽的义务之一，以便于发友们做出正确的判断和决定。同时也从科学角度告知发友们，如何选择和识别植发医院和专家，避免不必要的经济损失和心理不适。</p>
        </div>
    </div>
    <div class="ztalthree_divleft">
        <div class="divleftnav">
            <img src="/statics/images/zhifa_cn_images/abcef_40.jpg" width="281" alt="" />
        </div>
        <ul>
            {pc:content action="lists" catid="3" order="listorder DESC" num="5" cache="3600" moreinfo="1"}
            {loop $data $r}
            <li><a title="{$r[title]}" href="{$r[url]}" target="_blank">▪ {str_cut($r[title],50,'')}</a></li>
            {/loop}
            {/pc}
        </ul>
    </div>
    <div class="ztalthree_divmiddle">
        {pc:content action="lists" catid="93" order="listorder DESC" num="6" cache="3600" moreinfo="1"}
        {php $ndsf=0;}
        {loop $data $r}
        <div class="divmiddlediv" {if $ndsf==0} style="display:block;" {/if}>
        <h2><a title="{$r[title]}" href="{$r[url]}" target="_blank"><div class="h2adiv3"></div>{str_cut($r[title],30,'')}<div class="h2adiv4"></div></a></h2>
        <p><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[description],350,'')}</a></p>
    </div>
    {php $ndsf+=1;}
    {/loop}
    {/pc}
    <ul id="divmiddleul" class="divmiddleul">
        {pc:content action="lists" catid="93" order="listorder DESC" num="6" cache="3600" moreinfo="1"}
        {php $ndsf=0;}
        {loop $data $r}
        <li {if $ndsf==0} class="activemiddleulli" {/if}><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[title],50,'')}</a></li>
        {php $ndsf+=1;}
        {/loop}
        {/pc}
    </ul>
</div>
<div class="ztalthree_divright">
    <div class="divrightnav">
        <img src="/statics/images/zhifa_cn_images/abcef_43.jpg" width="317" alt="" />
    </div>
</div>
<div class="ztalthree_divbottom">
    <dl>
        <dt><div class="dldtdiv1"></div>发友疑问解答<div class="dldtdiv2"></div></dt>
        {pc:content action="lists" catid="94" order="listorder DESC" num="4" cache="3600" moreinfo="1"}
        {loop $data $r}
        <dd><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[title],50,'')}</a></dd>
        {/loop}
        {/pc}
    </dl>
</div>
</div>

<div id="ztalcont_four" class="ztalcont_four">
    <div class="cont_head">
        <p class="cont_headp1">RESURGENT</p>
        <p class="cont_headp2">植发<span>保障协议</span></p>
        <p class="cont_headp3"></p>
        <div class="cont_headdiv">
            <img src="/statics/images/zhifa_cn_images/abcef_80.jpg" width="44" />
            <p class="cont_headp4">植发市场鱼龙混杂，植发技术不合格、服务质量差、乱收费、口头许诺事后不兑现、过度医疗……很多发友求美心切，仓促决定从而上当受骗，带来重大损失。为了让发友们能够放心明白植发，也使植发行业进行自律，扭转不正之风，雍禾率先在植发界倡导诚信服务的新举措——透明医疗签约植发。</p>
        </div>
    </div>
    <div class="ztalcont_fourhead">
        <h2>透明医疗<b>五大保障</b></h2>
        <p class="fourheadp1">雍禾植发，率先在植发业内倡导透明医疗/签约协议植发，推出植发五大保障，解决发友后顾之忧。</p>
        <p class="fourheadp2">YongHe hair transplant, take the lead in hair transplant hair transplant industry promote transparent medical/signed agreement launched five hair, solve trouble back at home</p>
    </div>
    <dl>
        <dt><img src="/statics/images/zhifa_cn_images/abcef_60.jpg" alt="透明医疗签约植发" /></dt>
        <dd><img src="/statics/images/zhifa_cn_images/abcef_62.jpg" alt="全国联保协议" /></dd>
        <dd><img src="/statics/images/zhifa_cn_images/abcef_64.jpg" alt="医师亲珍手术协议" /></dd>
        <dd><img src="/statics/images/zhifa_cn_images/abcef_66.jpg" alt="术前术后收费协议" /></dd>
        <dd><img src="/statics/images/zhifa_cn_images/abcef_72.jpg" alt="手术预约金保障协议" /></dd>
        <dd><img src="/statics/images/zhifa_cn_images/abcef_73.jpg" alt="毛囊成活率保障协议" /></dd>
        <dd><img src="/statics/images/zhifa_cn_images/abcef_74.jpg" alt="质量管理体系启动仪式" /></dd>
    </dl>
    <ul>
        {pc:content action="lists" catid="95" order="listorder DESC" num="6" cache="3600" moreinfo="1"}
        {loop $data $r}
        <li><a title="{$r[title]}" href="{$r[url]}" target="_blank">▪ {str_cut($r[title],50,'')}<span class="ulliadiv"></span></a><p>[{date('Y.m.d',$r[inputtime])}]</p></li>
        {/loop}
        {/pc}
    </ul>
</div>

<div id="ztalcont_five" class="ztalcont_five">
    <div class="cont_head">
        <p class="cont_headp1">RESURGENT</p>
        <p class="cont_headp2">植发<span>媒体报道</span></p>
        <p class="cont_headp3"></p>
        <div class="cont_headdiv">
            <img src="/statics/images/zhifa_cn_images/5png_03.jpg" width="44" />
            <p class="cont_headp4">诚信是企业的生命，也是每个医院的生命。中国的植发医院存在或大或小的诚信问题，而作为植发业的领导品牌，雍禾一直是加强自身的诚信建设，以此推动整个行业的诚信服务。雍禾因为诚信，吸引广大患者；雍禾因为诚信，吸引众多媒体。下面的舆情观察是众媒体聚焦雍禾诚信植发的事。</p>
        </div>
    </div>

    <ul>
        <li><img src="/statics/images/zhifa_cn_images/abcef_84.jpg" /></li>
        <li><img src="/statics/images/zhifa_cn_images/abcef_86.jpg" /></li>
        <li><img src="/statics/images/zhifa_cn_images/abcef_88.jpg" /></li>
        <li><img src="/statics/images/zhifa_cn_images/abcef_89.jpg" /></li>
        <li><img src="/statics/images/zhifa_cn_images/abcef_93.jpg" /></li>
        <li><img src="/statics/images/zhifa_cn_images/abcef_95.jpg" /></li>
        <li><img src="/statics/images/zhifa_cn_images/abcef_96.jpg" /></li>
    </ul>
</div>

<script>
    ztalcont_left();
    hm.app.toRun8();
    ztalrightul();
    ztalleftul();
    divmiddleul();
</script>

{template "content","footer"}