{template "content","header"}

<!-- 列表页内容 -->
<div class="listcontent">
    <div class="listcontent_div">
        <!-- 列表页左侧内容 -->
        <div class="listcontent_left">
            {template "content","curPos"}
            <div class="list_banner">
                <script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=25"></script>
            </div>
            <ul class="listcontent_left_ul2">
                {pc:content action="lists" catid="$catid" order="updatetime DESC" num="10" cache="3600" page="$page"}
                {loop $data $r}
                <li>
                    <a title="{$r[title]}" href="{$r[url]}"><h2>{str_cut($r[title],80,' ...')}</h2></a>
                    <a title="{$r[title]}" href="{$r[url]}"><p>{str_cut($r[description],380,' ...')}</p></a>
                    <p class="listcontent_left_ul2_p1">{template "content","shareCode"}</p>
                </li>
                {/loop}
                {/pc}
            </ul>
            {template "content","fenYe"}
            <!-- 列表页左侧共同底部内容 -->
            {template "content","leftCommon"}
        </div>
        <!-- 列表页右侧内容 -->
        {template "content","rightCommon"}
    </div>
</div>


{template "content","footer"}