{template "content","headbody"}
{template "content","header_content"}
<!-- 通栏幻灯大banner -->
<div id="slideBox" class="slideBox_yh">
    <div class="bd">
        <ul>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=27"></script></div></li>
            <!--
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            -->
        </ul>
    </div>
    <!--
    <div id="hd" class="hd">
        <ul><li class="on">1</li><li>2</li><li>3</li></ul>
    </div>
    -->
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <!--
    <a class="slideBox_prev" href="javascript:void(0)"></a>
    <a class="slideBox_next" href="javascript:void(0)"></a>
    -->
</div>
<!--
<script>
    hm.app.toRun5();
</script>
-->
<div id="yhsp_content" class="yhsp_content">
    <div id="yhsp_contone" class="yhsp_contone">
        <div class="contone_sp">
            <p>{$shipin}</p>
        </div>
        <div class="contone_ptext">
            <img src="/statics/images/zhifa_cn_images/spzt_08-2.jpg" />
            <p>雍禾植发历经十五年风雨，一路走来有坎坷、有辉煌，这里记载着他们曾经辉煌的瞬间，这里汇集了他们回馈社会的点滴。或许您不经意间进入这个网站，或许您对雍禾略知一二，无论您通过哪种方式进来，相信这里一定有您意想不到的惊喜。</p>
            <p>雍禾新闻动态，一个让你对雍禾进行全方位了解的窗口，看央视报道雍禾大事件，听雍禾牵手公益肩负社会使命的心灵呼唤。速速了解，与发友来一次跨国之旅，考察国内外植发行情，赶快加入，说不定下一个发友赴欧美就是你！</p>
        </div>
        <div class="contone_botom">
            <div>{template "content","shareCode"}</div>
            <span><a href="#"><img src="/statics/images/zhifa_cn_images/ztsp_03.png" width="51" /></a></span>
        </div>
    </div>
    <!-- 雍禾视频模版 视频列表 -->
    <div id="yhsp_conttwo" class="yhsp_conttwo">
        <div class="yhsp_conttwo_div" id="yhsp_conttwo_div">
            <img src="{IMG_PATH}zhifa_cn_images/s_03.png" width="24" class="yhsp_conttwo_preivew" id="yhsp_conttwo_preivew" />
            <img src="{IMG_PATH}zhifa_cn_images/s_05.png" width="24" class="yhsp_conttwo_next" id="yhsp_conttwo_next" />
            <div class="yhsp_conttwo_main" id="yhsp_conttwo_main">
                <ul id="yhsp_conttwo_main_ul" class="yhsp_conttwo_main_ul">
                    {pc:content action="lists" catid="$catid" order="updatetime DESC" num="10" cache="3600" moreinfo="1"}
                    {loop $data $r}
                    <li><a title="{$r[title]}" href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}" width="220" /><p>{str_cut($r[title],50,' ...')}</p></a></li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
    </div>
    <script>
        hm.app.toRun7();
    </script>
    <div class="navdiv">
        <img src="{IMG_PATH}zhifa_cn_images/spzt_20.jpg" width="1000" height="92" />
    </div>
    <div class="commondiv">
        <ul class="commondiv_list_right_ul2">
            {pc:content action="lists" catid="3" order="updatetime DESC" num="3" cache="3600"}
            {php $nbab=0;}
            {loop $data $r}
            <li {if $nbab==0} class="list_right_ul2_activeli" {/if}>
            <span><a title="{$r[title]}" href="{$r[url]}">{str_cut($r[title],50,' ...')}</a></span>
            <div class="commondiv_list_right_ul2_div">
                <a title="{$r[title]}" href="{$r[url]}">
                    <img src="{$r[thumb]}" alt="{$r[title]}" />
                    <h3>{str_cut($r[title],50,' ...')}</h3>
                    <p>{str_cut($r[description],280,'')}<a title="{$r[title]}" href="{$r[url]}" style="color:#ff6820;">……详细</a></p>
                </a>
            </div>
            </li>
            {php $nbab+=1;}
            {/loop}
            {/pc}
        </ul>
        <div class="commondiv_content_seven_main_one_main_rightul">
            <p>发友推荐精品文章</p>
            <ul>
                {pc:content action="lists" catid="51" order="updatetime DESC" num="17" cache="3600" }
                {loop $data $r}
                <li><a title="{$r[title]}" href="{$r[url]}">{str_cut($r[title],90,' ...')}</a></li>
                {/loop}
                {/pc}
            </ul>
        </div>
        <div class="commondiv_content_three_main_dldiv">
            <dl id="commondiv_content_three_main_dl" class="commondiv_content_three_main_dl">
                <dt>发友推荐雍禾植发专家团队</dt>
                {pc:content action="lists" catid="4" order="updatetime DESC" num="9" cache="3600" moreinfo="1"}
                {loop $data $r}
                <dd><a title="{$r[title]}" href="{$r[url]}"><img src="{thumb($r[thumb],75,80)}" alt="{$r[title]}"/><b>{str_cut($r[title],20,'…')}</b></a></dd>
                {/loop}
                {/pc}
            </dl>
        </div>
        <div class="productNav">
            {template "content","productNav"}
        </div>
    </div>
</div>

{template "content","footer"}