{template "content","headbody"}
{template "content","header_content"}
<!-- 通栏幻灯大banner -->
<div id="slideBox" class="slideBox_yh">
    <div class="bd">
        <ul>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=34"></script></div></li>
            <!--
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            -->
        </ul>
    </div>
    <!--
    <div id="hd" class="hd">
        <ul><li class="on">1</li><li>2</li><li>3</li></ul>
    </div>
    -->
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <!--
    <a class="slideBox_prev" href="javascript:void(0)"></a>
    <a class="slideBox_next" href="javascript:void(0)"></a>
    -->
</div>
<!--
<script>
    hm.app.toRun5();
</script>
-->

<div id="ztzfyb_contOne" class="ztzfyb_contOne">
    <div class="ztzfyb_oneleft">
        <div class="oneleftp1"><h3>今日要闻</h3><span>Today's focus</span><a href="/syjryw/" title="更多今日要闻">更多</a></div>
        <div class="oneleftdiv1">
            <dl>
                <dt><a href="/shengyangyb/" title="沈阳雍禾">沈阳雍禾</a></dt>
                {pc:content action="lists" catid="192" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <dd>
                    <h2><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],65,'')}</a></h2>
                    <p>
                        <a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],145,'')}</a>&nbsp;&nbsp;
                        <a href="{$r[url]}" title="更多"><img src="/statics/images/zhifa_cn_images/wwfff_03.jpg" width="13" height="13" alt="更多" /></a>
                    </p>
                </dd>
                {/loop}
                {/pc}
            </dl>
        </div>
    </div>
    <div class="ztzfyb_onemiddle">
        <h3>发友会视频</h3>
        {pc:content action="lists" catid="193" order="updatetime DESC" num="1" cache="3600"}
        {loop $data $r}
        <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="211" height="200" alt="{$r[title]}" /></a>
        <p class="onemiddlep1"><b>时间：</b> <a>{date('Y年m月d日',$r[inputtime])}</a></p>
        <p class="onemiddlep2"><b>概要：</b> <a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
        {/loop}
        {/pc}
        <p class="onemiddlep4"><b><a href="/syfyhsp/" title="更多发友会视频">查看更多>>></a></p>
    </div>
    <div class="ztzfyb_oneright">
        <h3>手术视频</h3>
        {pc:content action="lists" catid="194" order="updatetime DESC" num="1" cache="3600"}
        {loop $data $r}
        <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="300" height="200" alt="{$r[title]}" /></a>
        <span><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],70,'')}</a></span>
        <p class="rightp1"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
        {/loop}
        {/pc}
    </div>
    <div class="ztzfyb_onebottom">
        <img src="/statics/images/zhifa_cn_images/gsssg_10.jpg" width="1001" height="102" alt="sss" />
    </div>
</div>

<div id="ztzfyb_contTwo" class="ztzfyb_contTwo">
    <div class="ztzfyb_twoNav">
        <div class="twoNavleft">
            <h3>发友案例</h3>
            <p>Case base <a href="/syfyal/" title="更多">更多</a></p>
        </div>
        <ul id="ztzfyb_contTwoul">
            <li>头发种植</li>
            <li>眉毛种植</li>
            <li>睫毛种植</li>
            <li>头发加密</li>
            <li>发际线调整</li>
            <li>疤痕植发</li>
            <li>胡须种植</li>
            <li>鬓角种植</li>
            <li>美人尖种植</li>
            <li>女性植发</li>
        </ul>
        <a href="/syfyal/" title="更多"><img src="/statics/images/zhifa_cn_images/wwfff_03.jpg" width="13" height="13" class="twoNavaimg" alt="更多" /></a>
    </div>
    <div class="ztzfyb_twoDiv" style="display:block;">
        {pc:content action="lists" catid="196" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/sywhfyal_tfzz/" title="更多头发种植案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/sywhfyal_tfzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="196" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/sywhfyal_tfzz/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="197" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_mmzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_mmzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="197" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_mmzz/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="198" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_jmzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_jmzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="198" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_jmzz/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="199" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_tfjm/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_tfjm/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="199" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_tfjm/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="200" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_fjxtz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_fjxtz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="200" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_fjxtz/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="201" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_bhzf/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_bhzf/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="201" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_bhzf/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="202" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_hxzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/shfyal_hxzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="202" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_hxzz/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="203" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_bjzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_bjzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="203" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_bjzz/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="204" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_mrjzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_mrjzz/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="204" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_mrjzz/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

    <div class="ztzfyb_twoDiv">
        {pc:content action="lists" catid="205" order="updatetime DESC" num="1" cache="3600" moreinfo="1"}
        {loop $data $r}
        <div class="twoDiv_top">
            <div class="twoDivtopimg">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altleft]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altmiddle]}" width="225" height="280" alt="{$r[title]}" /></a>
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[altright]}" width="225" height="280" alt="{$r[title]}" /></a>
            </div>
            <p class="twodivtopp1">{$r[xinming]}</p>
            <p class="twodivtopp2"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[description],420,'...')}</a></p>
            <p class="twodivtopp3">
                <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="149" height="94" alt="{$r[title]}" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/syfyal_nxzf/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_23.jpg" width="96" height="83" alt="更多案例" /></a>
            </p>
        </div>
        {/loop}
        {/pc}
        <div class="twoDiv_bottom">
            <a href="/syfyal_nxzf/" title="更多案例"><img src="/statics/images/zhifa_cn_images/gsssg_30.jpg" width="216" height="126" alt="经典案例" class="twoDivbottomimg" /></a>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/gsssg_32.jpg" width="460" height="126" alt="手术案例现场直播" class="twoDivbottomimg2" /></a>
            <ul>
                {pc:content action="lists" catid="205" order="updatetime DESC" num="4" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">▪ {str_cut($r[title],60,'')}</a></li>
                {/loop}
                {/pc}
            </ul>
            <a href="/syfyal_nxzf/" title="更多案例" class="twoDivbottoma">更多案例 >>></a>
        </div>
        <div class="twoDivnav">
            <img src="/statics/images/zhifa_cn_images/gsssg_35.jpg" width="1000" height="104" alt="aaa" />
        </div>
    </div>

</div>

<div id="ztzfyb_contThree" class="ztzfyb_contThree">
    <div class="contThreeLeft">
        <div class="threeNavleft">
            <h3>植发专家</h3>
            <p>Hair transplant experts  <a href="/syyb_zfzj/" title="更多">更多</a></p>
        </div>
        <div class="contThreeLeftdiv" id="contThreeLeftdiv">
            <img src="/statics/images/zhifa_cn_images/s_03.png" id="contThreeLeftdiv_prev" class="contThreeLeftdiv_prev" />
            <img src="/statics/images/zhifa_cn_images/s_05.png" id="contThreeLeftdiv_next" class="contThreeLeftdiv_next" />
            <div id="contThreeLeftdiv_huandeng" class="contThreeLeftdiv_huandeng">
                <ul>
                    {pc:content action="lists" catid="206" order="updatetime DESC" num="10" cache="3600" moreinfo="1"}
                    {loop $data $r}
                    <li>
                        <a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{$r[thumb]}" width="188" height="273" alt="{$r[title]}" class="bspandivaimg" /></a>
                        <p class="threeleftullip1">
                            <b>{$r[title]}</b>
                            <span>{$r[zhicheng]}</span>
                        <div class="p1div">Senior Expert </div>
                        <a href="#"><img src="/statics/images/zhifa_cn_images/ztk_14.png" width="59" height="22" alt="立即预约" class="bspandivaimg1" /></a>
                        <a href="#"><img src="/statics/images/zhifa_cn_images/ztk_16.png" width="59" height="22" alt="在线咨询" class="bspandivaimg2" /></a>
                        </p>
                        <p class="threeleftullip2">★ {str_cut($r[rongyu1],'60','')}</p>
                        <p class="threeleftullip3">★ {str_cut($r[rongyu2],'60','')}</p>
                        <p class="threeleftullip4">★ {str_cut($r[rongyu3],'60','')}</p>
                        <p class="threeleftullip5">★ {str_cut($r[rongyu4],'60','')}</p>
                        <p class="threeleftullip6">
                            <img src="/statics/images/zhifa_cn_images/ffef_32.jpg" width="47" height="37" alt="擅长项目" />
                            <a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[shangchangxianmu],95,'...')}</a>
                        </p>
                        <p class="threeleftullip7">专家介绍</p>
                        <p class="threeleftullip8"><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[zhuanjiajieshao],545,'...')}</a></p>
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
    </div>
    <div class="contThreeRight">
        <div class="threeNavRight">
            <h3>热点关注</h3>
        </div>
        <ul id="threeRightul" class="threeRightul">
            <li class="activeThreeulli">热点文章</li>
            <li>植发技术</li>
        </ul>
        <div id="threeRightol" class="threeRightol">
            <ol class="threeRightol1" style="display:block;">
                {pc:content action="lists" catid="207" order="updatetime DESC" num="10" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],65,'')}</a></li>
                {/loop}
                {/pc}
            </ol>
            <ol class="threeRightol2">
                {pc:content action="lists" catid="3" order="updatetime DESC" num="10" cache="3600"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}" target="_blank">{str_cut($r[title],65,'')}</a></li>
                {/loop}
                {/pc}
            </ol>
        </div>
        <ul class="threeRightul2">
            <li class="Rightul2li1"><a href="#" title="#">治疗脱发植发手术还是药?</a></li>
            <li class="Rightul2li2"><a href="#" title="#">植发手术安全吗？</a></li>
            <li class="Rightul2li3"><a href="#" title="#">治疗脱发植发手术还是药?</a></li>
            <li class="Rightul2li4"><a href="#" title="#">植发手术安全吗？</a></li>
        </ul>
    </div>
</div>

<div id="ztzfyb_contFour" class="ztzfyb_contFour">
    <div class="contFourNavleft">
        <h3>分院内景</h3>
        <p>The hospital interior  <a href="/yyjs/" title="更多">更多</a></p>
    </div>
    <img src="/statics/images/zhifa_cn_images/sysss.jpg" width="1000" height="445" />
</div>

<div id="ztzfyb_contFive" class="ztzfyb_contFive">
    <h3>雍禾植发  专业值得信赖</h3>
    <p>
        雍禾植发技术研究院创建于1999年，是国内植发行业的开拓者，也是中国最早拥有自主创新FUE技术的植发中心。2002年，国际毛发论坛 上Rassman博士提出了毛囊单位抽取术（FUE，follicular unit extraction)传入我国，虽然对脱发的治疗达到相对完美的阶段，但该技术使用设备是基于欧美人的毛囊特性而设计，应用于亚洲人时存在缺陷（相比较于欧洲人细软的毛囊，中国人毛囊较为粗、硬）。经过数年的钻研和不断的论证，2009年雍禾植发专家团队协同美国、日本和韩国著名植发专家成功研发出FUE-APL2.0无痕植发技术，并于2010年成功申请专利，并获得ISO国际质量管理体系认证，从此，中国人乃至整个亚洲人有了适合自己的植发技术。
    </p>
    <ul>
        <li>★ 国际植发协会(ISHRS)会员单位</li>
        <li>★ ISO 9001:2008权威认证植发机构</li>
        <li>★ 亚洲荣誉植发大会会员(TISHRS)</li>
        <li>★ CCTV报告雍禾质量标准系单位</li>
        <li>★ 2项国家专利技术单位</li>
        <li>★ 5大植发保证协议单位</li>
    </ul>
</div>

<script>
    ztzfyb_contTwo();
    threeRightul();
    hm.app.toRun14();
</script>
{template "content","footer"}