{template "content","header"}

<!-- 列表页内容 -->
<div class="listcontent">
<div class="listcontent_div">
<!-- 列表页左侧内容 -->
<div class="listcontent_left">
    {template "content","curPos"}
    <div class="list_banner">
        <a href="#"><img src="{IMG_PATH}zhifa_cn_images/f_03.jpg"/></a>
    </div>
    <ul class="listcontent_left_ul">
        <li class="secondli"><a title="头发种植" href="/al_tfzz/">头发种植</a></li>
        <li><a title="发际线调整" href="/al_fjxtz/">发际线调整</a></li>
        <li class="secondli"><a title="胡须种植" href="/al_hxzz/">胡须种植</a></li>
        <li><a title="鬓角种植" href="/al_bjzz/">鬓角种植</a></li>
        <li><a title="眉毛种植" href="/al_mmzz/">眉毛种植</a></li>
        <li class="secondli"><a title="疤痕植发" href="/al_bhzz/">疤痕植发</a></li>
        <li><a title="睫毛种植" href="/al_jmzz/">睫毛种植</a></li>
        <li class="secondli"><a title="美人尖种植" href="/al_mrjzz/">美人尖种植</a></li>
    </ul>
    <ul class="listcontent_left_ul2">
        {pc:content action="lists" catid="$catid" order="updatetime DESC" num="10" cache="3600" page="$page"}
            {loop $data $r}
            <li>
                <a title="{$r[title]}" href="{$r[url]}"><h2>{str_cut($r[title],80,' ...')}</h2></a>
                <a title="{$r[title]}" href="{$r[url]}"><p>{str_cut($r[description],380,' ...')}</p></a>
                <p class="listcontent_left_ul2_p1">{template "content","shareCode"}</p>
            </li>
            {/loop}
        {/pc}
    </ul>
    {template "content","fenYe"}
    <!-- 列表页左侧共同底部内容 -->
    {template "content","leftCommon"}
</div>
<!-- 列表页右侧内容 -->
{template "content","rightCommon"}
</div>
</div>

{template "content","footer"}