{template "content","headbody"}
{template "content","header_content"}
<!-- 通栏幻灯大banner -->
<div id="slideBoxzb" class="slideBox_yhzb">
    <div class="bdzb">
        <ul>
            <li><div class="siteWidthzb"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=39"></script></div></li>
            <!--
            <li><div class="siteWidthzb"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            <li><div class="siteWidthzb"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            -->
        </ul>
    </div>
    <!--
    <div id="hdzb" class="hdzb">
        <ul><li class="onzb">1</li><li>2</li><li>3</li></ul>
    </div>
    -->
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <!--
    <a class="slideBox_prevzb" href="javascript:void(0)"></a>
    <a class="slideBox_nextzb" href="javascript:void(0)"></a>
    -->
</div>
<!--
<script>
    hm.app.toRun5();
</script>
-->
<div id="yhzbsp_content" class="yhzbsp_content">
    <div id="yhzbsp_contone" class="yhzbsp_contone">
        <div class="contone_zbsp">
            <p>
                <!-- 视频直播地址 -->
                <script>
                    if (navigator.userAgent.match(/iPod|iPhone|iPad|Android/i)) {
                        document.write('<video id="yhvideo" width="705" height="400" src="http://tp05.videocc.net/yhmd/yhmd/playlist.m3u8"  preload controls></video>');
                    }
                </script>
                <object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' width='705' height='400' id='03ed8207-8f8a-4e47-90ab-46578a813b49'><param name='movie' value='http://liveplayer.polyv.net/player/hsmvid6y/yhmd.swf'/><param name='allowscriptaccess' value='always' /><param name='allowfullscreen' value='true' /><embed src='http://liveplayer.polyv.net/player/hsmvid6y/yhmd.swf' width='705' height='400'  type='application/x-shockwave-flash' allowscriptaccess='always' name='03ed8207-8f8a-4e47-90ab-46578a813b49' allowfullscreen='true' /></embed></object>

            </p>
        </div>
        <div class="contone_botomzb">
            <div>{template "content","shareCode"}</div>
        </div>
    </div>
    <!-- 雍禾视频模版 视频列表 -->
    <div id="yhzbsp_conttwo" class="yhzbsp_conttwo">
        <div class="yhzbsp_conttwo_div" id="yhzbsp_conttwo_div">
            <img src="{IMG_PATH}zhifa_cn_images/s_03.png" width="24" class="yhzbsp_conttwo_preivew" id="yhzbsp_conttwo_preivew" />
            <img src="{IMG_PATH}zhifa_cn_images/s_05.png" width="24" class="yhzbsp_conttwo_next" id="yhzbsp_conttwo_next" />
            <div class="yhzbsp_conttwo_main" id="yhzbsp_conttwo_main">
                <ul id="yhzbsp_conttwo_main_ul" class="yhzbsp_conttwo_main_ul">
                    {pc:content action="lists" catid="$catid" order="updatetime DESC" num="10" cache="3600" moreinfo="1"}
                        {loop $data $r}
                            <li><a title="{$r[title]}" href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}" width="220" /><p>{str_cut($r[title],50,' ...')}</p></a></li>
                        {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
    </div>

    <div id="commondivzbhot" class="commondivzbhot">
        <img src="/statics/images/zhifa_cn_images/sdfsafaf_05.jpg" width="187" height="49" alt="本期发友会热点" />
        <div class="divzbhotdiv">
            {pc:content action="lists" catid="$catid" order="updatetime DESC" num="5" cache="3600" moreinfo="1"}
            {php $nfds=0;}
            {loop $data $r}
            <div class="divzbhotdivcont" {if $nfds==0} style="display:block;" {/if}>
                <h2>{$r[title]}</h2>
                <p class="hotdivcontp1" style="height:200px;">{$r[content]}</p>
                <div class="xialap">
                    <div><img src="/statics/images/zhifa_cn_images/sdfsafaf_09.jpg" width="90" height="22" alt="详情下拉" /></div>
                </div>
            </div>
            {php $nfds+=1;}
            {/loop}
            {/pc}
            <ul id="divzbhotul" class="divzbhotul">
                {pc:content action="lists" catid="$catid" order="updatetime DESC" num="5" cache="3600" moreinfo="1"}
                {loop $data $r}
                <li>{$r[title]}</li>
                {/loop}
                {/pc}
            </ul>
        </div>

        <div class="web_show">
            <div class="web_showLeft">
                <!--1新浪官方微博-->
                <iframe width="500" height="618" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=500&height=618&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1888690981&verifier=06903df6&dpc=1"></iframe>
            </div>

            <div class="web_showRight">
                <!--2腾讯官方微博-->
                <iframe frameborder="0" scrolling="no" src="http://show.v.t.qq.com/index.php?c=show&a=index&n=weibo002730&w=500&h=598&fl=2&l=8&o=29&co=0" width="500" height="598"></iframe>
            </div>
        </div>

    </div>
    <div class="navdivzb">
        <img src="{IMG_PATH}zhifa_cn_images/spzt_20.jpg" width="1000" height="92" />
    </div>
    <div class="commondivzb">
        <ul class="commondiv_list_right_ul2zb">
            {pc:content action="lists" catid="3" order="updatetime DESC" num="3" cache="3600" moreinfo="1"}
            {php $nbab=0;}
            {loop $data $r}
            <li {if $nbab==0} class="list_right_ul2_activelizb" {/if}>
            <span><a title="{$r[title]}" href="{$r[url]}">{str_cut($r[title],50,' ...')}</a></span>
            <div class="commondiv_list_right_ul2_divzb">
                <a title="{$r[title]}" href="{$r[url]}">
                    <img src="{$r[thumb]}" alt="{$r[title]}" />
                    <h3>{str_cut($r[title],50,' ...')}</h3>
                    <p>{str_cut($r[description],280,'')}<a title="{$r[title]}" href="{$r[url]}" style="color:#ff6820;">……详细</a></p>
                </a>
            </div>
            </li>
            {php $nbab+=1;}
            {/loop}
            {/pc}
        </ul>
        <div class="commondiv_content_seven_main_one_main_rightulzb">
            <p>发友推荐精品文章</p>
            <ul>
                {pc:content action="lists" catid="51" order="updatetime DESC" num="17" cache="3600" }
                {loop $data $r}
                <li><a title="{$r[title]}" href="{$r[url]}">{str_cut($r[title],90,' ...')}</a></li>
                {/loop}
                {/pc}
            </ul>
        </div>
        <div class="commondiv_content_three_main_dldivzb">
            <dl id="commondiv_content_three_main_dlzb" class="commondiv_content_three_main_dlzb">
                <dt>发友推荐雍禾植发专家团队</dt>
                {pc:content action="lists" catid="4" order="updatetime DESC" num="9" cache="3600" moreinfo="1"}
                {loop $data $r}
                <dd><a title="{$r[title]}" href="{$r[url]}"><img src="{thumb($r[thumb],75,80)}" alt="{$r[title]}"/><b>{str_cut($r[title],20,'…')}</b></a></dd>
                {/loop}
                {/pc}
            </dl>
        </div>
        <div class="productNavzb">
            {template "content","productNav"}
        </div>

        {pc:content action="lists" catid="$catid" order="updatetime DESC" num="1" moreinfo="1"}
            {loop $data $r}
            {php eval("\$arr=".$r[zbxcsj].";");}
            {if !empty($arr)}
                <div id="divzbhotimg" class="divzbhotimg">
                    <h3>发友会现场精彩瞬间</h3>
                    <img src="/statics/images/zhifa_cn_images/sdfsafaf_19.jpg" width="75" height="73" alt="上一张" class="divzbhotimgprve" />
                    <img src="/statics/images/zhifa_cn_images/sdfsafaf_16.jpg" width="74" height="73" alt="下一张" class="divzbhotimgnext" />
                    <div class="divzbhotimgcont">
                        <ul>
                            {loop $arr $val}
                            <li><img src="{$val[url]}" width="599" /></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <script>
                    hm.app.toRun14();
                </script>
            {/if}
            {/loop}
        {/pc}
    </div>
</div>

<script>
    hm.app.toRun15();
    xialap();
</script>

{template "content","footer"}