{template "content","headbody"}
{template "content","header_content"}
<!-- 通栏幻灯大banner -->
<div id="slideBox" class="slideBox_yhzt">
    <div class="bd">
        <ul>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=40"></script></div></li>
            <!--
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            -->
        </ul>
    </div>
    <!--
    <div id="hd" class="hd">
        <ul><li class="on">1</li><li>2</li><li>3</li></ul>
    </div>
    -->
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <!--
    <a class="slideBox_prev" href="javascript:void(0)"></a>
    <a class="slideBox_next" href="javascript:void(0)"></a>
    -->
</div>
<!--
<script>
    hm.app.toRun5();
</script>
-->
<div id="ztnxzf_content" class="ztnxzf_content">
    <div class="ztnxzf_contOne">
        <div class="djzjdiv"><a href="#">.</a></div>
        <div class="contHead">
            <div class="contHeadimg1"></div>
            <div class="contentimg">
                <p>精雕细琢的美不加修饰 不加改造</p>
                <h2>私人定制完美绽放</h2>
            </div>
            <div class="contHeadimg2"></div>
        </div>
        <div class="contOnebk">
            <ul class="contOneul1">
                <li><b>女性植发</b></li>
                <li><b>稀疏加密</b></li>
                <li><b>植眉技术</b></li>
                <li><b>睫毛种植</b></li>
            </ul>
            <ul class="contOneul2">
                <li>
                    <h3>FUE-APL2.0无痕植发技术</h3>
                    <p><a href="#" title="FUE-APL2.0无痕植发技术">爱美是女人的天性，相比男性来说，女性朋友们更注重自己的外在形象，所以，<b>……[详细]</b></a></p>
                </li>
                <li>
                    <h3>LATTICE点阵加密技术</h3>
                    <p><a href="#" title="LATTICE点阵加密技术">雍禾植发LATTICE点阵加密技术是雍禾植发技术研究院数位国际知名植发专家，在<b>……[详细]</b></a></p>
                </li>
                <li>
                    <h3>UHE微米级无痕植眉技术</h3>
                    <p><a href="#" title="UHE微米级无痕植眉技术">雍禾植发国内首创单体毛囊种植术，该项技术大幅度改善了眉毛种植的细密、立体形态，<b>……[详细]</b></a></p>
                </li>
                <li>
                    <h3>无痕微米级睫毛种植术</h3>
                    <p><a href="#" title="无痕微米级睫毛种植术">浓密、纤长的睫毛是爱美人士的梦想。雍禾无痕微米级睫毛种植术是在FUE-APL2.0<b>……[详细]</b></a></p>
                </li>
            </ul>
            <div class="ztnxzf_contOnediv">
                <!--
                <span id="contOnddivspaniimg" class="contOnddivspaniimg"><img src="/statics/images/zhifa_cn_images/s_05.png" width="24" height="54" alt="下一张" /></span>
                -->
                <div class="ztnxzf_contOnediv2" id="ztnxzf_contOnediv2">
                    <ul>
                        <li style="left:0px;top:0px;z-index:3;"><img style="width:351px;height:569px;" src="/statics/images/zhifa_cn_images/sdsfffs_01.jpg" /></li>
                        <li style="left:250px;top:60px;z-index:2;"><img style="width:251px;height:469px;" src="/statics/images/zhifa_cn_images/sdsfffs_02.jpg" /></li>
                        <li style="left:440px;top:85px;z-index:1;"><img style="width:151px;height:369px;" src="/statics/images/zhifa_cn_images/sdsfffs_03.jpg" /></li>
                        <li style="left:500px;top:85px;z-index:0;"><img style="width:51px;height:269px;" src="/statics/images/zhifa_cn_images/sdsfffs_04.jpg" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ztnxzf_contTwo">
        <div class="contHead">
            <div class="contHeadimg1"></div>
            <div class="contentimg">
                <p>reappearance of scene</p>
                <h2>翘楚名媛塑型记</h2>
            </div>
            <div class="contHeadimg2"></div>
        </div>
        <ul class="contTwoul1">
            <li style="background:url('/statics/images/zhifa_cn_images/sfwwf_03.jpg') no-repeat;">
                <h3>变美后的女人让男人俯首称臣</h3>
                <p>
                    爱美是女人的天性，女人只有美丽动人，男人才甘愿俯首称臣。
                    之前一直不太注重外表的我，突然有一天男友告诉我，咱俩分手吧，当头一棒，留下我一个人在十字路口彷徨。我该走向哪里，为什么我迷途未归。那一刻我意识到我失去了整个世界。最终我听朋友告诉我他受不了我的头发，稀疏短
                </p>
                <a href="#">详情</a>
            </li>
            <li style="background:url('/statics/images/zhifa_cn_images/sfwwf_05.jpg') no-repeat;">
                <h3>求职失败究竟谁之过？</h3>
                <p>
                    刚刚毕业的小林同学，今年22岁，怀揣着一颗多年力作传媒人的梦想，来到北京，面试却屡屡受挫，一次无意间和表姐聊天，说起自己的经历，才发现自己原来是这么的不修边幅。面对竞争激烈的市场，小林又怎会有一席之地。许多“形象不佳”者常常被用人单位拒之门外，小林就是其一。
                </p>
                <a href="#">详情</a>
            </li>
            <li style="background:url('/statics/images/zhifa_cn_images/sfwwf_07.jpg') no-repeat;">
                <h3>打造气质美女塑造职场一姐</h3>
                <p>
                    董女士为一家企业的总经理，苦心经营五年，商场如战场，变化多端，不知道下一步会发生什么。每天处于高度紧张的状态她，精神压力过大，半年来头发越来越少，甚至因脱发影响到了她整个形象与气质。可是在当今社会，男女竞争如此激烈，战场上没有人会因你是女性而示弱、而同情。董女士在业务方面
                </p>
                <a href="#">详情</a>
            </li>
        </ul>
    </div>

    <div class="ztnxzf_contThree">
        <div class="contHead">
            <div class="contHeadimg1"></div>
            <div class="contentimg">
                <p>Ask Me Anything</p>
                <h2>有问必答</h2>
            </div>
            <div class="contHeadimg2"></div>
        </div>
        <ul class="contThreeul">
            <li>
                <h3>植发手术过程疼吗？</h3>
                <p><span>
                    手术采用头皮局部麻醉，毫无痛苦。术中可以看杂志、VCD、喝饮料、听音乐，手术过程患者感到轻松、舒适。
                </span></p>
            </li>
            <li>
                <h3>手术是否安全？需不需要住院？</h3>
                <p><span>
                    由于手术只限于表皮，并不伤及重要神经血管，所以非常安全。手术为门诊手术，术后即可出院。
                </span></p>
            </li>
            <li>
                <h3>植发手术有无后遗症？</h3>
                <p><span>
                    由于植发手术是皮肤手术，而且是自体毛囊移植，其过程尤如一个割伤的伤口愈合过程，因而无不良后遗症。
                </p>
            </li>
            <li>
                <h3>手术时间及生长过程？</h3>
                <p><span>
                    手术一般需3－5小时，10天拆线，术后毛根会在2－4周脱落，2－3个月开始生长，8－9个月全部长出。
                </span></p>
            </li>
            <li>
                <h3>植发手术后长出新发还会脱落吗？</h3>
                <p><span>
                    导致脱发的根本原因是毛囊受双氢睾酮(DHT)影响，从后枕部移植的毛囊是不受DHT影响所以也不会再次脱落。
                </span></p>
            </li>
            <li>
                <h3>植发手术费贵吗？</h3>
                <p><span>
                    植发的目的在于植发疗效，我们要明白植发的关键不在贵不贵，而在于值不值。选正规植发机构透明消费。
                </span></p>
            </li>
        </ul>
        <a href="#" class="dianjizhizun"><img src="/statics/images/zhifa_cn_images/sdfadfff_26.jpg" width="42" height="276" alt="点击咨询" /></a>
    </div>
</div>

<script>
    ztnxzf_contOnediv2();
</script>

{template "content","footer"}