{template "content","headbody"}
{template "content","header_content"}
<!-- 通栏幻灯大banner -->
<div id="slideBox" class="slideBox_yh">
    <div class="bd">
        <ul>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=30"></script></div></li>
            <!--
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            <li><div class="siteWidth"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=24"></script></div></li>
            -->
        </ul>
    </div>
    <!--
    <div id="hd" class="hd">
        <ul><li class="on">1</li><li>2</li><li>3</li></ul>
    </div>
    -->
    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
    <!--
    <a class="slideBox_prev" href="javascript:void(0)"></a>
    <a class="slideBox_next" href="javascript:void(0)"></a>
    -->
</div>
<!--
<script>
    hm.app.toRun5();
</script>
-->


<div id="ztzfjs_contOne" class="ztzfjs_contOne">
    <div class="contOnediv">
        <img src="/statics/images/zhifa_cn_images/sfaa_05.jpg" width="141" height="79" alt="导语" />
        <p>
            由于脱发患者的脱发区毛囊严重损伤，常见的生发水、西药生发剂等几乎无效，故这类患者改善外观的重要方法是采用植发方式，这也是世界医学史上公认的的唯一方式，传统的FUT植发手术需要在后枕部取下菱形皮瓣，不仅带来较大的创伤和痛苦，也可能留下疤痕等不良外观。随着医学科技的进步，FUE植发技术应运而生，经数年的临床研究与运用，在改造了系列符合亚洲人特点的取发和植发的设备后，形成新一代无痛、无痕、安全的先进植发技术——雍禾FUE-APL2.0无痕植发技术，其植发的效果有目共睹，几乎无风险和后遗症，深受广大发友的青睐。
        </p>
    </div>
</div>

<div id="ztzfjs_contTwo" class="ztzfjs_contTwo">
    <div class="contTwocont">
        <div class="contTwodivleft">
            <img src="/statics/images/zhifa_cn_images/sfaa_08.jpg" width="179" height="147" alt="脱发类型知多少?" />
            <dl class="contTwodivleftDl1">
                <dt>脱发类型知多少?</dt>
                {pc:content action="lists" catid="101" order="updatetime DESC" num="9" cache="3600" moreinfo="1"}
                    {loop $data $r}
                        <dd><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[title],50,' ...')}</a></dd>
                    {/loop}
                {/pc}
            </dl>

            <dl class="contTwodivleftDl2">
                <dt>发友感悟</dt>
                {pc:content action="lists" catid="102" order="updatetime DESC" num="4" cache="3600" moreinfo="1"}
                    {loop $data $r}
                        <dd><a title="{$r[title]}" href="{$r[url]}" target="_blank">{str_cut($r[title],50,' ...')}</a></dd>
                    {/loop}
                {/pc}
            </dl>
        </div>
        <div class="contTwodivright">
            <div class="Twodivrighttop">
                <h2>头顶危机你意识到了吗？影响个人形象  形成各种障碍</h2>
                <p>雍禾植发拥有植发技术研究院、毛囊干细胞实验室两处技术研发基地，结合雍禾植发各分院手术临床经验，自1999年以来陆续自主研发了FUE-AP。</p>
            </div>
            <div class="Twodivrightmiddle">
                <img src="/statics/images/zhifa_cn_images/sfaa_11.jpg" width="476" height="324" alt="头顶危机你意识到了吗？" class="divimg1" />
                <img src="/statics/images/zhifa_cn_images/sfaa_30.jpg" width="161" height="76" alt="医学专家警示" class="divimg2" />
                <p>多数男性有脱发的情况为永久性脱发，开始时从前额部位的头发慢慢的变少，逐渐到头顶部位头发变少，直到头顶一整块光秃，至此后，是不会再长出毛发。</p>
            </div>
            <div class="Twodivrightright">
                <img src="/statics/images/zhifa_cn_images/sfaa_14.jpg" width="198" height="101" alt="相关数据调查显示" />
                <h3>脱发成为男性择偶绊脚石</h3>
                <p class="rightrightp1">雍禾植发拥有植发技术研究院、毛囊干细胞实验室两处技术研发基地，结合雍禾植发各分院手术临床经验，自1999年以来陆续自主研发了FUE-AP。</p>
                <p class="rightrightp2">
                    雍禾植发拥有植发技术研究院、毛囊干细胞实验室两处技术研发基地，结合雍禾植发各分院手术临床经验，自1999年以来陆续自主研发了FUE-AP。
                    雍禾植发拥有植发技术研究院、毛囊干细胞实验室两处技术研发基地，结合雍禾植发各分院手术临床经验，自1999年以来陆续自主研发了FUE-AP。
                </p>
                <div class="rightrightdiv">
                    <a href="#" title="#" target="_blank">
                        <img src="/statics/images/zhifa_cn_images/m_08.png" width="109" height="37" alt="在线咨询" />
                        <img src="/statics/images/zhifa_cn_images/m_09.png" width="104" height="37" alt="网络预约" />
                    </a>
                </div>
            </div>
        </div>
        <div class="TwodivNav">
            <img src="/statics/images/zhifa_cn_images/sfaa_34.jpg" width="1000" height="122" />
        </div>
        <div class="TwodivLeft">
            <div class="TwodivLefttop">
                <img src="/statics/images/zhifa_cn_images/sfaa_38.jpg" width="653" height="255" />
            </div>
            <div class="TwodivLeftbottom">
                <img src="/statics/images/zhifa_cn_images/sfaa_46.jpg" width="58" height="55" />
                <p class="Leftbottomp1">
                    前不久，美工食品和药品管理局（FDA）发布了一项关于生发药的安全信息——目前治疗脱发最常用的5α还原酶抑制剂可能增加服药者患前列腺癌的风险。
                </p>
                <p class="Leftbottomp2">
                    调查结果显示约98%的患者抱怨，市场上传统的治疗脱发的外涂禾口服类产品并不能给他们带来满意的疗效。另一项调查显示，大多数患者在尝试治疗半年无效后，即会放弃治疗。
                </p>
            </div>
        </div>
        <div class="TwodivRight">
            <img src="/statics/images/zhifa_cn_images/sfaa_41.jpg" width="321" height="138" />
            <h2>植发机构梁秀不齐，如何选择成关键</h2>
            <p>
                雄性激素源性秃发也称早秃，俗称“谢顶”，发病率较高。是指进入成年后，头发逐渐脱落，鬓部很快后退，前发缘升高，头顶部头发稀薄甚至歇顶，呈进行性加重。该病以额部及头顶部渐进性脱发为特征，多见于从事脑力劳动的男雄性激素源性秃发也称早秃，俗称“谢顶”，发病率较高。是指进入成年后。
            </p>
            <img src="/statics/images/zhifa_cn_images/sfaa_49.jpg" width="322" height="74" />
            <p>发友推荐：雍禾植发技术研究院</p>
        </div>
    </div>
</div>

<div id="ztzfjs_contThree" class="ztzfjs_contThree">
    <div class="ztzfjs_Threediv">
        <div class="ztzfjs_ThreedivHead">
            <h2 class="ztzfjs_ThreedivHeadh2">雍禾FUE-APL2.0无痕植发技术</h2>
            <p class="ztzfjs_ThreedivHeadp1">雄性激素源性秃发也称早秃，俗称“谢顶”，发病率较高。是指进入成年后，头发逐渐脱落，鬓部很快后退，前发缘升高，头顶部头发稀薄甚至歇顶，呈进行性加重。该病以额部及头顶部渐进性脱发为特征，多见于从事脑力劳动的男雄性激素源性秃发也称早秃，俗称“谢顶”，发病率较高。是指进入成年后。雄性激素源性秃发也称早秃，俗称“谢顶”，发病率较高。是指进入成年后，头发逐渐脱落，鬓部很快后退，前发缘升高，头顶部头发稀薄甚至歇顶，呈进行性加重。该病以额部及头顶部渐进性脱发为特征，多见于从事脑力劳动的男雄性激素源性秃发也称早秃，俗称“谢顶”，发病率较高。是指进入成年后。</p>
            <p class="ztzfjs_ThreedivHeadp2">专利号：201210034404.3  雍禾植发发布行业质量标准体系</p>
            <p class="ztzfjs_ThreedivHeadp3">专利号：201210162560.8  国际标准化组织IS09001：2008权威认证</p>
            <img src="/statics/images/zhifa_cn_images/sfaa_53.jpg" width="535" height="51" />
        </div>
        <ul id="ztzfjs_Threediv_ul" class="ztzfjs_Threediv_ul">
            <li class="ztzfjs_Threediv_ul_activeli"><img src="/statics/images/zhifa_cn_images/sfaa_59.jpg" width="134" height="134" alt="前沿植发技术" /></li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_61.jpg" width="134" height="133" alt="独特技术优势" /></li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_67.jpg" width="134" height="133" alt="权威学者评说" /></li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_63.jpg" width="134" height="133" alt="权威组织认证" /></li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_57.jpg" width="134" height="133" alt="承诺签约治疗" /></li>
            <li><img src="/statics/images/zhifa_cn_images/sdfsf_03.jpg" width="134" height="133" alt="雍禾植发过程" /></li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_65.jpg" width="134" height="133" alt="领先技术设备" /></li>
        </ul>


        <div class="content_two_ul_main">
            <div class="content_two_ul_main_div content_two_ul_main_1">
                <p class="classp1">植发手术是一种新鲜事物，很多人以为，脱发的解决办法就是吃药、抹药......如果毛囊已萎缩死亡，此时吃药抹药等是没有任何作用的，唯有植发方法是解决之道，那植发是怎么回事呢？</p>
                <p class="classp2">植发手术的原理</p>
                <p class="classp3">
                    植发是通过外科手术方式，从患者头部后枕处取下部分健康的毛囊组织（通常每侧移植40-50根即可），用显微镜技术将健康的毛囊和毛胚分离，之后放到低温营养液培养，再按一定的规律将培养好的毛囊种植到需要植发的部位。
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这些移植后的毛发可保持原有的生长特性，继续在新部位生长，从而达到补充毛发数量和修改局部毛发分布形态的目的，从而达到美观的效果。通常手术种植的植发可以保持终身，故植发术脱落唯一而彻底的治疗方法。
                </p>
                <p class="classp4"><a href="#"><img src="{IMG_PATH}zhifa_cn_images/m_08.png" alt="在线咨询"/><img src="{IMG_PATH}zhifa_cn_images/m_09.png" alt="网络预约"/><img src="{IMG_PATH}zhifa_cn_images/m_03.png" style="margin-left:20px;" /><img src="{IMG_PATH}zhifa_cn_images/m_05.png" style="margin-left:20px;" /></a></p>
                <p class="classp5"><img src="{IMG_PATH}zhifa_cn_images/sd_03.jpg" /></p>
                <p class="classp6">FUE-APL2.0无痕植发技术</p>
                <p class="classp7">
                    FUE-APL2.0无痕植发技术，是继FUT、FUE后，第三个被国际植发业认可的植发技术。拥有2项毛囊干细胞培养及激活等专利技术，解决大面积脱发患者毛囊稀缺的问题；采用自主研发的雍禾APL2.0探头，其精密度更加适合中国人的毛囊直径，避免毛囊损伤；所使用的植发手术器械均采用自主研发的一次性器械，避免医源性交叉感染。
                    雍禾植发获得国际标准化组织ISO9001；2008的权威认证。<br />
                    2010年。国际ISO组织抽样雍禾植发1257例作评估调查；男性毛发移植手术743例（其中胡须种植75例，鬓角种植59例，加密移植129例）；女性毛发移植手术514例（其中美人尖74例，睫毛种植116例，眉毛种植98例），均获得满意疗效。
                </p>
                <p class="classp8">
                <dl class="classp8dl">
                    {pc:content action="lists" catid="70" order="listorder DESC" num="3" cache="3600" moreinfo="1"}
                    {php $nums=0;}
                    {loop $data $r}
                    <dd><a href="{$r[url]}" title="{$r[title]}"  {if $nums==0} class="atcivedd" {/if}>{str_cut($r[title],35,'...')}</a></dd>
                    {php $nums=$nums+1;}
                    {/loop}
                    {/pc}
                </dl>
                <dl class="classp8dl2">
                    {pc:content action="lists" catid="70" order="listorder ASC" num="3" cache="3600" moreinfo="1"}
                    {php $nums=0;}
                    {loop $data $r}
                    <dd><a href="{$r[url]}" title="{$r[title]}"  {if $nums==0} class="atcivedd" {/if}>{str_cut($r[title],35,'...')}</a></dd>
                    {php $nums=$nums+1;}
                    {/loop}
                    {/pc}
                </dl>
                </p>
            </div>
            <div class="content_two_ul_main_div content_two_ul_main_2">
                <div class="content_two_ul_main_2_left">
                    <img src="{IMG_PATH}zhifa_cn_images/af_06.jpg" />
                    <p class="class2p1">十几年的成功临床案例，无一例投诉，摒弃传统手术的缺陷，术后效果满意度VI级。毛囊侵害性最小，出血更少，恢复速度更快，单次可植发5000单位。手术成功率达到100%，成活率达到98%，有效保证种植效果，永不脱落。</p>
                    <p class="class2p2"><a href="#"><img src="{IMG_PATH}zhifa_cn_images/m_08.png" alt="在线咨询"/><img src="{IMG_PATH}zhifa_cn_images/m_09.png" alt="网络预约"/></a></p>
                </div>
                <div class="content_two_ul_main_2_middle">
                    <img src="{IMG_PATH}zhifa_cn_images/af_03.jpg" />
                    <dl class="classdl">
                        <dt>雍禾植发技术亮点</dt>
                        <dd>1、国际认证植发单位</dd>
                        <dd>2、雍禾植发专利技术</dd>
                        <dd>3、国际尖端植发设备</dd>
                        <dd>4、自主研发植发手术器械</dd>
                        <dd>5、行业质量标准体系</dd>
                    </dl>
                </div>
                <div class="content_two_ul_main_2_right">
                    <p class="class2p3">
                    <h3>1、安全微创 无痛无痕</h3>
                    <p>摒弃传统手术缺陷，无需后枕部切取皮条，不开刀，采用局部浸润麻醉，安全无痛；直接提取毛囊，术后供毛囊区和手术移植区无疤痕，避免传统PUNCH、MINI-MIC技术、FUE技术术后有疤痕，效果不自然的弊端。</p>
                    </p>
                    <p class="class2p3">
                    <h3>2、独特的雍禾植发APL2.0探头，不损伤毛囊</h3>
                    <p>采用精密度最适合中国人毛囊直径的雍禾APL2.0探头，微动力提取毛囊，避免了传统手术人工提取造成的毛囊损伤，提升了毛囊的成活率，取发速度大约比传统的FUE提高3到5倍。</p>
                    </p>
                    <p class="class2p3">
                    <h3>3、种植效果自然疏密有致</h3>
                    <p>相比过去切取皮瓣移植毛发，无痕植发能够按照毛发的正常生长方向和分部单个种植毛囊，效果更自然，种植的头发将永久不脱落，比传统手术效果更浓密，满意度100%。</p>
                    </p>
                    <p class="class2p3">
                    <h3>4、融合面部美学设计协调面部轮廓</h3>
                    <p>根据中国人的面部美学特征设计，融入面部轮廓理念，根据个人的头型，脸型，气质和年龄等特点的设计发际线，修复改变脸型形成“三庭五眼”，可任意梳理发型，实现每个人的完美蜕变。</p>
                    </p>
                </div>
            </div>
            <div class="content_two_ul_main_div content_two_ul_main_3">
                <div class="content_two_ul_main_3_left">
                    <h3>植发界权威学者评说</h3>
                    <p class="class3p1">来自美国约翰·霍普金斯医院的代表希望引进我院的FUE-APL2.0无痕植发技术，解决大量在美华裔的脱发问题。</p>
                    <p class="class3p2">美国宾夕法尼亚大学的植发专家George·Cotsarelis博士指出：FUE-APL2.0无痕植发技术是目前全球植发界最先进的植发技术之一，是继FUT、FUE后，第三个被国际植发行业认可的植发技术。</p>
                    <p class="class3p3">美国哥伦比亚大学医疗中心（CUMC）An-gela·Christiano教授在参加本次学术会议后在《自然医学》杂志上撰文指出：FUE-APL2.0无痕植发技术中运用毛囊干细胞技术，给严重脱发患者带来新希望。</p>
                    <img src="{IMG_PATH}zhifa_cn_images/fe_07.jpg" style="top:110px;left:10px;" />
                    <img src="{IMG_PATH}zhifa_cn_images/fe_10.jpg" style="top:120px;left:120px;"/>
                    <img src="{IMG_PATH}zhifa_cn_images/fe_24.jpg" style="top:270px;left:40px;"/>
                </div>
                <div class="content_two_ul_main_3_middle">
                    {pc:content action="lists" catid="71" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
                    {loop $data $r}
                    <a href="{$r[url]}" title="{$r[title]}">
                        <img src="{$r[thumb]}" style="padding:20px 0;width:336px;height:112px;" />
                        <h3>{str_cut($r[title],70,'...')}</h3>
                    </a>
                    {/loop}
                    {/pc}
                    <p class="class3p4">
                        {pc:content action="lists" catid="71" order="listorder DESC" num="3" cache="3600" moreinfo="1"}
                        {loop $data $r}
                        <a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" width="111" height="77" /></a>
                        {/loop}
                        {/pc}
                    </p>
                    <dl class="classdl">
                        <dt><a href="/qwxzps/">雍禾植发应邀参加相关权威学术会议（更多）</a></dt>
                        {pc:content action="lists" catid="71" order="listorder DESC" num="3" cache="3600" moreinfo="1"}
                        {loop $data $r}
                        <dd><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],70,'...')}</a></dd>
                        {/loop}
                        {/pc}
                    </dl>
                </div>
                <div class="content_two_ul_main_3_right">
                    {pc:content action="lists" catid="71" order="listorder DESC" num="1" cache="3600" moreinfo="1"}
                    {loop $data $r}
                    <p class="class3p5"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[description],970,'...')}</a></p>
                    {/loop}
                    {/pc}
                </div>
            </div>
            <div class="content_two_ul_main_div content_two_ul_main_4">
                <div class="content_two_ul_main_4_left">
                    <h3>雍禾植发多项新技术获得众多权威组织认证</h3>
                    <p class="class4p1">
                        2010年10月，雍禾植发技术元救援获得国际标准化组织ISO9001:2008权威认证的植发技术。
                        2011年，雍禾植发技术研究院成立了毛囊干细胞实验室。经过多中心协作联合研发，成功研发出2项植发新技术，并通过了中华人民共和国国家知识产权局审核颁布证书。
                        2010年12月30日，中央电视台及其他权威媒体对雍禾植发发布的“行业质量标准体系”进行系列跟踪报道。该标准高于现行植发行业国家的质量标准。
                    </p>
                    <p class="class4p2"><img src="{IMG_PATH}zhifa_cn_images/res_06.jpg" /><img src="{IMG_PATH}zhifa_cn_images/re_08.jpg" /><img src="{IMG_PATH}zhifa_cn_images/re_10.jpg" /></p>
                    <p class="class4p3"><a href="#"><img src="{IMG_PATH}zhifa_cn_images/m_08.png" alt="在线咨询"/><img src="{IMG_PATH}zhifa_cn_images/m_09.png" alt="网络预约"/><img src="{IMG_PATH}zhifa_cn_images/m_03.png" style="margin-left:20px;" /><img src="{IMG_PATH}zhifa_cn_images/m_05.png" style="margin-left:20px;" /></a></p>
                </div>
                <div class="content_two_ul_main_4_right" id="content_two_ul_main_4_right">
                    <img src="{IMG_PATH}zhifa_cn_images/rea_03.jpg" id="content_two_ul_main_4_right_prev" class="content_two_ul_main_4_right_prev" />
                    <img src="{IMG_PATH}zhifa_cn_images/rea_05.jpg" id="content_two_ul_main_4_right_next" class="content_two_ul_main_4_right_next" />
                    <div id="content_two_ul_main_4_right_huandeng" class="content_two_ul_main_4_right_huandeng">
                        <ul>
                            {pc:content action="lists" catid="72" order="listorder DESC" num="6" cache="3600" moreinfo="1"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" width="390" height="227" /></a></li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                    <ul class="content_two_ul_main_4_right_ul">
                        {pc:content action="lists" catid="72" order="listorder DESC" num="6" cache="3600" moreinfo="1"}
                        {loop $data $r}
                        <li><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],50,'...')}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </div>
            </div>
            <div class="content_two_ul_main_div content_two_ul_main_5">
                <div id="content_two_ul_main_5_left" class="content_two_ul_main_5_left">
                    <h3>权威媒体透明化监督</h3>
                    <ul class="content_two_ul_main_5_left_ul">
                        <li class="content_two_ul_main_5_left_ul_activeli">
                            <p class="main_5_left_ul_p"><img src="{IMG_PATH}zhifa_cn_images/er_09.jpg" />价格公开透明</p>
                            <div class="content_two_ul_main_5_left_ul_div">
                                <img src="{IMG_PATH}zhifa_cn_images/er_25.jpg" />
                                <div class="content_two_ul_main_5_left_ul_div2">
                                    <img src="{IMG_PATH}zhifa_cn_images/er_28.jpg" />
                                    <p class="main_5_left_ul_p2">雍禾植发做为专业医疗机构承诺患者就诊除取植发手术费用和检测、材料费以外，绝不做其他任何误导患者收费项目或服务。</p>
                                    <ul class="left_ul_div2ul">
                                        <li>血液检测费：共150元/人</li>
                                        <li>手术材料费：共300元/人</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="main_5_left_ul_p"><img src="{IMG_PATH}zhifa_cn_images/er_13.jpg" />手术过程透明化操作</p>
                            <div class="content_two_ul_main_5_left_ul_div">
                                <img src="{IMG_PATH}zhifa_cn_images/er_26.jpg" />
                                <div class="content_two_ul_main_5_left_ul_div2">
                                    <img src="{IMG_PATH}zhifa_cn_images/er_28.jpg" />
                                    <p class="main_5_left_ul_p2">发友在植发手术前可指定医护人员为其手术，手术全程透明化操作，决不出现临时或中途更换医生的现象，最大限度的保证术后效果。</p>
                                    <ul class="left_ul_div2ul">
                                        <li>血液检测费：共150元/人</li>
                                        <li>手术材料费：共300元/人</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="main_5_left_ul_p"><img src="{IMG_PATH}zhifa_cn_images/er_15.jpg" />毛囊数量公开透明</p>
                            <div class="content_two_ul_main_5_left_ul_div">
                                <img src="{IMG_PATH}zhifa_cn_images/er_27.jpg" />
                                <div class="content_two_ul_main_5_left_ul_div2">
                                    <img src="{IMG_PATH}zhifa_cn_images/er_28.jpg" />
                                    <p class="main_5_left_ul_p2">雍禾植发专注毛发移植十余年，因为专注，所以专业，作为专业的毛发种植机构，手术期间提取的毛囊数量可由患者当场数，决不谎报数量，从中牟利。</p>
                                    <ul class="left_ul_div2ul">
                                        <li>血液检测费：共150元/人</li>
                                        <li>手术材料费：共300元/人</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="main_5_left_ul_p"><img src="{IMG_PATH}zhifa_cn_images/er_20.jpg" />权威媒体透明化监督</p>
                            <div class="content_two_ul_main_5_left_ul_div">
                                <img src="{IMG_PATH}zhifa_cn_images/er_2s8.jpg" />
                                <div class="content_two_ul_main_5_left_ul_div2">
                                    <img src="{IMG_PATH}zhifa_cn_images/er_28.jpg"/>
                                    <p class="main_5_left_ul_p2">为了将 “透明医疗”的理念做到最好，雍禾植发主动接受权威媒体和社会舆论的双重监督，力争做到言行一致，最终惠及每一位手术的发友。</p>
                                    <ul class="left_ul_div2ul">
                                        <li>血液检测费：共150元/人</li>
                                        <li>手术材料费：共300元/人</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content_two_ul_main_5_right">
                    <img src="{IMG_PATH}zhifa_cn_images/er_03.jpg" />
                    <ul id="content_two_ul_main_5_right_ul" class="content_two_ul_main_5_right_ul">
                        <li><img src="{IMG_PATH}zhifa_cn_images/er_31.jpg" /><p>全国联保协议</p></li>
                        <li style="background:#fbe7b6;"><img src="{IMG_PATH}zhifa_cn_images/er_33.jpg" /><p>医师亲诊/手术协议</p></li>
                        <li><img src="{IMG_PATH}zhifa_cn_images/er_35.jpg" /><p>术前术后收费协议</p></li>
                        <li style="background:#fbe7b6;"><img src="{IMG_PATH}zhifa_cn_images/er_37.jpg" /><p>退还预约金协议</p></li>
                        <li><img src="{IMG_PATH}zhifa_cn_images/er_39.jpg" /><p>毛囊成活率协议</p></li>
                    </ul>
                    <div class="content_two_ul_main_5_right_div" id="content_two_ul_main_5_right_div">
                        <p class="marin_5_right_divp">为方便术后患者就近复诊，凭此协议，术后患者可在雍禾植发任何一家分院享受到相同的术后服务。</p>
                        <p class="marin_5_right_divp"style="display:block;">为推行“透明医疗，签约植发”的服务理念，雍禾植发术前签订医师亲诊手术协议，保证植发手术全程监控、可视、公开，切实保障术后毛囊的成活率。</p>
                        <p class="marin_5_right_divp">为最大限度的保障患者权益，杜绝植发术前、术后向患者推销手术之外的收费产品或服务现象发生，特此签订术前术后收费协议，让患者清清楚楚手术，明明白白治疗。</p>
                        <p class="marin_5_right_divp">为保障发友在雍禾植发任意分院缴纳的手术预约金安全有效特签订此协议，若发友最终未选择雍禾植发进行手术，预约金将全额返还，决不以任何理由将预约金扣留。</p>
                        <p class="marin_5_right_divp">为保障植发效果，让术后患者有据可查，特签署此协议，保证患者在术后12个月内出现毛囊成活率低的问题可由雍禾植发免费修复或退还手术费用以及向行政管理机构投诉的权力。</p>
                    </div>
                    <a class="marin_5_right_diva" href="#"><img src="{IMG_PATH}zhifa_cn_images/m_08.png" /><img src="{IMG_PATH}zhifa_cn_images/m_09.png" /></a>
                </div>
            </div>
            <div class="content_two_ul_main_div content_two_ul_main_6">
                <ul>
                    <li><img src="{IMG_PATH}zhifa_cn_images/rq_03.jpg" />
                        <h3>步骤一：检查</h3>
                        <p>通过毛囊检测仪确定脱发等级以及毛囊情况，选择合适的植发技术。</p>
                    </li>
                    <li><img src="{IMG_PATH}zhifa_cn_images/rq_05.jpg" />
                        <h3>步骤二：设计</h3>
                        <p>根据发友的气质、五官、形象及其需求设计出最佳的造型，确保术后的美观自然。</p>
                    </li>
                    <li><img src="{IMG_PATH}zhifa_cn_images/rq_07.jpg" />
                        <h3>步骤三：取发</h3>
                        <p>利用进口的提取设备进行单体毛囊提取，精准快速，种植头发毛囊存活高。</p>
                    </li>
                    <li><img src="{IMG_PATH}zhifa_cn_images/rq_09.jpg" />
                        <h3>步骤四：分离</h3>
                        <p>“通过显微分离术”进行毛囊在分离，可以最大限度的保证毛囊得到最高的利用，同时确保毛囊具有较高的存活。</p>
                    </li>
                    <li><img src="{IMG_PATH}zhifa_cn_images/rq_11.jpg" />
                        <h3>步骤五：种植</h3>
                        <p>根据预定的设计方案，按照一定的角度、深度、密度进行毛囊种植，保证毛囊存活率及术后自然及美观。</p>
                    </li>
                    <li><img src="{IMG_PATH}zhifa_cn_images/rq_13.jpg" />
                        <h3>步骤六：护理</h3>
                        <p>头发种植后会根据个人情况的不同，为每一位发友定制个性化的养护方案，定期回访，确保毛囊能够。</p>
                    </li>
                </ul>
            </div>
            <div class="content_two_ul_main_div content_two_ul_main_7">
                <div class="content_two_ul_main_7_left">
                    <h3>雍禾植发多项创新设备为无痕植发奠定基础</h3>
                    <p class="content_two_ul_main_7_left_p">北京雍禾植发技术研究院中，从十几年前，率先从美国引进先进的植发设备，并将无痕植发技术及器械进行整体改良，积极自主研发出适合国内人群植发的医疗器械，推出了令植发界瞩目的植发器械设备。</p>
                    <img src="{IMG_PATH}zhifa_cn_images/yu_14.jpg" />
                    <dl class="content_two_ul_main_7_left_dl">
                        <dt>雍植禾发领设先备</dt>
                        {pc:content action="lists" catid="73" order="listorder DESC" num="5" cache="3600" moreinfo="1"}
                        {loop $data $r}
                        <dd><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],70,'...')}</a></dd>
                        {/loop}
                        {/pc}
                    </dl>
                </div>
                <div id="content_two_ul_main_7_right" class="content_two_ul_main_7_right">
                    <img src="{IMG_PATH}zhifa_cn_images/er_06.jpg" class="content_two_ul_main_7_right_prev" id="content_two_ul_main_7_right_prev" alt="上一张" />
                    <img src="{IMG_PATH}zhifa_cn_images/yu_10.jpg" class="content_two_ul_main_7_right_next" id="content_two_ul_main_7_right_next" alt="下一张" />
                    <div class="content_two_ul_main_7_right_div">
                        <ul>
                            {pc:content action="lists" catid="73" order="listorder DESC" num="6" cache="3600" moreinfo="1"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" width="180" height="120" /></a></li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                    <div id="content_two_ul_main_7_right_divmain_div">
                        {pc:content action="lists" catid="73" order="listorder DESC" num="6" cache="3600" moreinfo="1"}
                        {php $nds=0;}
                        {loop $data $r}
                        <div {if $nds==0} style="display:block;" {/if} class="content_two_ul_main_7_right_divmain">
                        <div class="right_divmain_img"><img src="{$r[thumb]}" width="290" height="232" alt="{str_cut($r[title],50,'...')}"/></div>
                        <h3>{str_cut($r[title],60,'...')}</h3>
                        <p>{str_cut($r[description],820,'...')}</p>
                    </div>
                    {php $nds+=1;}
                    {/loop}
                    {/pc}

                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div id="ztzfjs_contFour" class="ztzfjs_contFour">
    <div class="ztzfjs_Fourdiv">
        <h2 class="ztzfjs_Fourdivh2">完美始于修复·优美·气质·其实很简单！</h2>
        <p class="ztzfjs_Fourdivp">雄性激素源性秃发也称早秃，俗称“谢顶”，发病率较高。是指进入成年后，头发逐渐脱落，鬓部很快后退，前发缘升高，头顶部头发稀薄甚至歇顶，呈进行性加重。该病以额部及头顶部渐进性脱发为特征，多见于从事脑。</p>
        <ul class="ztzfjs_Fourdivul">
            <li><img src="/statics/images/zhifa_cn_images/sfaa_79.jpg" width="156" height="129" alt="头发种植"/>头发种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_81.jpg" width="156" height="129" alt="眉毛种植"/>眉毛种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_83.jpg" width="156" height="129" alt="发际线调整"/>发际线调整</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_85.jpg" width="156" height="129" alt="睫毛种植"/>睫毛种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_87.jpg" width="156" height="129" alt="美人尖种植"/>美人尖种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_95.jpg" width="156" height="129" alt="疤痕种植"/>疤痕种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_97.jpg" width="156" height="129" alt="胡须种植"/>胡须种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_99.jpg" width="156" height="129" alt="鬓角种植"/>鬓角种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_100.jpg" width="156" height="129" alt="鬓角种植"/>胸毛种植</li>
            <li><img src="/statics/images/zhifa_cn_images/sfaa_101.jpg" width="156" height="129" alt="阴毛种植"/>阴毛种植</li>
        </ul>
        <div class="ztzfjs_fourdiv3">
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/sfaa_110.jpg" width="234" height="153" alt="经典案例" class="fourdiv3img1" /></a>
            <ul>
                {pc:content action="lists" catid="98" order="updatetime DESC" num="5" cache="3600" }
                {loop $data $r}
                <li><a title="{$r[title]}" href="{$r[url]}" target="_blank">• {str_cut($r[title],70,'')}</a></li>
                {/loop}
                {/pc}
                <br />
                <a href="/hzxsjdal/" style="color:#a04c02;padding-top:20px;font-size:13px;">更多案例>>></a>
            </ul>
            <a href="#" title="#"><img src="/statics/images/zhifa_cn_images/sfaa_108.jpg" width="236" height="158" alt="安全植发" class="fourdiv3img2" /></a>
        </div>
    </div>
</div>

<div id="ztzfjs_contFive" class="ztzfjs_contFive">
    <div class="ztzfjs_fivediv">
        <dl class="fivedivdl1">
            <dt>相关文章</dt>
            {pc:content action="lists" catid="3" order="updatetime DESC" num="15" cache="3600" moreinfo="1"}
                {loop $data $r}
                    <dd><a title="{$r[title]}" href="{$r[url]}">• {str_cut($r[title],80,' ...')}</a></dd>
                {/loop}
            {/pc}
        </dl>
        <div class="fivedivimg">
            <img src="/statics/images/zhifa_cn_images/sfaa_115.jpg" width="116" height="110" alt="等级脱发自助查询" />
            <img src="/statics/images/zhifa_cn_images/sfaa_117.jpg" width="116" height="110" alt="手术费计算器" />
            <img src="/statics/images/zhifa_cn_images/sfaa_119.jpg" width="116" height="110" alt="术后毛发生长时间" />
            <dl class="fivedivdl3">
                <dt>发友推荐雍禾植发专家团队</dt>
                {pc:content action="lists" catid="4" order="updatetime DESC" num="8" cache="3600" moreinfo="1"}
                {loop $data $r}
                <dd><a title="{$r[title]}" href="{$r[url]}"><img src="{thumb($r[thumb],75,80)}" alt="{$r[title]}"/><b>{str_cut($r[title],20,'…')}</b></a></dd>
                {/loop}
                {/pc}
            </dl>
        </div>
        <dl class="fivedivdl2">
            <dt>相关文章</dt>
            {pc:content action="lists" catid="6" order="updatetime DESC" num="15" cache="3600" moreinfo="1"}
                {loop $data $r}
                    <dd><a title="{$r[title]}" href="{$r[url]}">• {str_cut($r[title],80,' ...')}</a></dd>
                {/loop}
            {/pc}
        </dl>
    </div>
</div>

<div id="ztzfjs_contSix" class="ztzfjs_contSix">
    <div class="ztzfjs_sixdiv">
        <img src="/statics/images/zhifa_cn_images/ffef_93.jpg" width="46" height="147" alt="精彩专题" class="ztzfjs_sixdivimg" />
        <div class="ztzfjs_sixdiv_div" id="ztzfjs_sixdiv_div">
            <img src="{IMG_PATH}zhifa_cn_images/s_03.png" width="24" class="ztzfjs_preivew" id="ztzfjs_preivew" />
            <img src="{IMG_PATH}zhifa_cn_images/s_05.png" width="24" class="ztzfjs_next" id="ztzfjs_next" />
            <div class="ztzfjs_main" id="ztzfjs_main">
                <ul id="ztzfjs_main_ul" class="ztzfjs_main_ul">
                    {pc:content action="lists" catid="103" order="updatetime DESC" num="10" cache="3600" moreinfo="1"}
                    {loop $data $r}
                    <li><a title="{$r[title]}" href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}" /><p>{str_cut($r[title],50,' ...')}</p></a></li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
    </div>
</div>


<script>
    ztzfjs_Threediv_ul();
    hm.app.toRun();
    content_two_ul_main_5_left();
    content_two_ul_main_7_right();
    content_two_ul_main_5_right_ul();
    hm.app.toRun2();
    hm.app.toRun13();
</script>

{template "content","footer"}